<!doctype html>
<html>
	<head>
		<title>Exercise Tracker</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		{{{body}}}
		<script src="/javascript/scriptDB.js"></script>
	</body>
</html>
